annotated-types==0.7.0
et_xmlfile==2.0.0
iniconfig==2.3.0
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.0
pluggy==1.6.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
ruff==0.15.1
scipy==1.17.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
